.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 60px;
  display: inline-block;
  transition: all .2s;
  border-radius: 100px;
  position: relative;
  border: none;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .btn, .btn:link, .btn:visited {
      padding: 10px 40px; } }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: black; }

.btn--white::after {
  background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #4fbb3c; }

.btn--green::after {
  background-color: #4fbb3c; }

.btn:hover::after {
  transform: scaleX(1.6) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom ease-out;
  animation-duration: 2s;
  animation-delay: .75s;
  animation-fill-mode: backwards; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s; }

.btn-text:link, .btn-text:visited {
  color: #4fbb3c;
  display: inline-block;
  padding: 3px;
  text-decoration: none;
  border-bottom: 1px solid #4fbb3c;
  transition: all .2s; }

.btn-text:hover {
  background-color: #4fbb3c;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text::after {
  content: ""; }

.btn-text:active {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 1px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        width: 35%;
        float: left; } }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: -2rem;
          left: 0; } }
    .composition__photo--p2 {
      top: 13rem;
      left: 10%; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -5rem;
          left: 30%;
          z-index: 22; } }
    .composition__photo--p3 {
      top: 2rem;
      right: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: -2rem;
          right: 2rem; } }
    .composition__photo:hover {
      outline: 0.7rem solid #65aa55;
      transform: scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  padding: 25px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  transition: transform .2s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 20px; } }
  .feature-box__icon {
    font-size: 60px;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #38f14a, #65aa55);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0px; } }
  .feature-box:hover {
    transform: translateY(-20px) scale(1.03); }

.card {
  position: relative;
  -moz-perspective: 1500px;
  perspective: 1500px;
  height: 520px; }
  .card__side {
    position: absolute;
    height: 520px;
    transition: all .8s ease;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      background-color: green;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #38f14a, #65aa55); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 230px;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #38f14a, #65aa55), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 120px;
    right: 20px;
    width: 85%; }
    @media (max-width: 56.25em) {
      .card__heading {
        font-size: 15px; } }
  .card__heading-span {
    padding: 16px 25px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(56, 241, 74, 0.85), rgba(101, 170, 85, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 30px; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 15px;
        padding: 10px; }
        @media (max-width: 56.25em) {
          .card__details ul li {
            font-size: 10px; } }
        .card__details ul li:not(:last-child) {
          border-bottom: 1.5px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 80px; }
  .card__price-only {
    font-size: 14px;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 60px;
  padding-left: 90px;
  transform: skewX(-15deg); }
  @media (max-width: 56.25em) {
    .story {
      transform: skewX(0deg);
      width: 100%;
      padding: 40px; } }
  .story__shape {
    width: 150px;
    height: 150px;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-20px) skewX(15deg);
    position: relative; }
    @media (max-width: 56.25em) {
      .story__shape {
        transform: skewX(0);
        margin-right: 10px; } }
  .story__img {
    height: 100%;
    transition: all .5s;
    transform: translateX(-40px) scale(1.4); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(15deg); }
    @media (max-width: 56.25em) {
      .story__text {
        transform: skewX(0); } }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    filter: blur(3px) brightness(80%);
    transform: translateX(-40px) scale(1); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 10px;
  padding: 10px 15px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 4px solid transparent;
  width: 90%;
  display: block; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100; } }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid #4fbb3c;
    transition: all .5s; }
  .form__input:focus:invalid {
    border-bottom: 4px solid #ff7730;
    transition: all .8s; }

.form__radio-input {
  display: none; }

.form__label {
  font-size: 12px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 7px;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px); }

.form__group:not(:last-child) {
  margin-bottom: 20px; }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-label {
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding-left: 45px; }

.form__radio-button {
  height: 30px;
  width: 30px;
  border: 5px solid #4fbb3c;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.4rem;
  left: 0; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4fbb3c;
    opacity: 0;
    transition: opacity .4s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 400;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    color: black;
    top: 25px;
    right: 25px;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    transition: all .3s;
    position: absolute;
    line-height: 1; }
  .popup__close:hover {
    color: #4fbb3c;
    transform: scale(1.3) rotate(90deg);
    font-size: 40px; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .popup__content {
    width: 75%;
    background-color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transition: all .6s .2s; }
    @media (max-width: 56.25em) {
      .popup__content {
        height: 500px;
        width: 100%;
        display: table-column; } }
  .popup__left {
    width: 33.333%;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .popup__left {
        width: 100% !important;
        display: block;
        padding: 20px;
        margin-bottom: 0; } }
  .popup__right {
    width: 66.667%;
    display: table-cell;
    vertical-align: middle;
    padding: 30px 50px; }
    @media (max-width: 56.25em) {
      .popup__right {
        width: 100%;
        display: block;
        padding: 20px 30px; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .popup__img {
        width: 40%;
        display: inline-block;
        background-size: 10%;
        margin-right: 0 auto; } }
  .popup__text {
    font-size: 14px;
    margin-bottom: 40px;
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid grey;
    -webkit-hyphens: auto;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .popup__text {
        font-size: 8px;
        margin-bottom: 20px;
        text-align: center; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1.7s;
    animation-delay: 370ms; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1px;
        font-size: 40px; } }
  .heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 15px;
    animation-name: moveInRight;
    animation-duration: 1.7s;
    animation-delay: 370ms; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 5px;
        font-size: 10px; } }

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  background-image: linear-gradient(to right, #38f14a, #65aa55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: 2px; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 25px; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 20px; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scaleY(1.1);
    text-shadow: 0.5rem 0.2rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase; }
  .heading-tertiary:hover {
    background-image: linear-gradient(to right, lightgreen, green);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all .2s;
    transform: scale(1.1); }

.paragraph {
  font-size: 1rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 75em) {
  html {
    font-size: 56.25%; } }

@media (max-width: 56.25em) {
  html {
    font-size: 50%; } }

@media (min-width: 112.5em) {
  html {
    font-size: 75%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #777;
  padding: 20px; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }
  @media (max-width: 56.25em) {
    body {
      margin: 0;
      padding: 0; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 30rem 3rem; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(79, 187, 60, 0.801), rgba(101, 170, 85, 0.802)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 15rem 3rem; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 3rem; } }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 3rem; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #38f14a, #65aa55); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 10rem 3rem; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.35); }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
      background-size: cover; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 100%), url(../img/nat-10.jpg);
      background-size: cover; } }
  .book__form {
    width: 50%;
    padding: 60px; }
    @media (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(79, 187, 60, 0.801), rgba(101, 170, 85, 0.802)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-resolution: 192dpi) and (min-width: 600px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(79, 187, 60, 0.801), rgba(101, 170, 85, 0.802)), url(../img/hero.jpg); } }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    height: 35px; }

.row {
  max-width: 1140px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 60px; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 500px; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 60px;
          float: none; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100%  !important;
        float: none; } }
  .row .col-1-of-2 {
    width: calc((100% - 5rem)/ 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem)/ 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 5rem)/ 3) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem)/ 4); }
  .row .col-2-of-4 {
    width: calc(2 *((100% - 3 * 5rem)/ 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 5rem)/ 4) + ( 2 *5rem)); }

.footer {
  background-color: #333;
  padding: 100px 0;
  font-size: 14px; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 80px; }
    @media (max-width: 37.5em) {
      .footer__logo-box {
        margin-bottom: 50px; } }
  .footer__logo {
    width: 150px;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #eee;
    padding: 20px;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100% !important;
        text-align: center; } }
    @media (max-width: 37.5em) {
      .footer__navigation {
        width: 100% !important;
        text-align: center; } }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    color: #65aa55;
    background-color: #333;
    transition: all .4s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.2); }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 10px; }
  .footer__copyright {
    border-top: 1px solid #eee;
    padding: 20px;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100% !important;
        text-align: center;
        float: none; } }
    @media (max-width: 37.5em) {
      .footer__copyright {
        width: 100% !important;
        text-align: center;
        float: none; } }

.navigation__checkbox {
  visibility: hidden; }

.navigation__button {
  background-color: #fff;
  height: 70px;
  width: 70px;
  position: fixed;
  top: 60px;
  right: 60px;
  border-radius: 50%;
  z-index: 200;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 20px;
      right: 20px; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 10px;
      right: 10px; } }

.navigation__background {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 65px;
  right: 65px;
  background-image: radial-gradient(#38f14a, #65aa55);
  z-index: 100;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 20px;
      right: 20px; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 10px;
      right: 10px; } }

.navigation__nav {
  height: 100vh;
  z-index: 150;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  width: 0;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: black;
  transform: translateX(1rem); }

.navigation__items {
  margin-bottom: 10px; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 35px; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 30px;
    height: 2px;
    background-color: #333;
    display: inline-block;
    left: 20px; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::after {
    top: -10px; }
  .navigation__icon::before {
    top: 10px; }

.navigation__button:hover .navigation__icon::before {
  top: 1rem; }

.navigation__button:hover .navigation__icon::after {
  top: -1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg); }
