
//COLORS
$color-primary: #4fbb3c;
$color-primary-light: #38f14a;
$color-primary-dark: hsl(109, 33%, 50%);

$color-seconadary-light: #ffb900;
$color-seconadary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa; 



$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-3: #333;
$color-black: black;
$color-white: #fff;

//GRID

$grid-width: 114rem;
$grid-margin: 0 auto;
$grid-margin-bottom: 80px;

// GUTTER 
$gutter-vertical: 8rem; // 8 * 16px 
$gutter-horizontal: 5rem; // ...smae 